@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
	--font-sg: 'Space Grotesk', sans-serif;
}

body {
	@apply bg-zinc-900 font-sg text-zinc-50 antialiased;
}

.input-field {
	@apply w-full border border-zinc-700 bg-zinc-900 px-3 py-2 text-sm text-zinc-100 transition outline-none placeholder:text-zinc-500 focus:border-zinc-500 focus:ring-1 focus:ring-zinc-500;
}
